# SkyTeam-Exchange.yaml

In [1]:
import pandas as pd

In [2]:
import yaml

In [3]:
data = yaml.load(open("SkyTeam-Exchange.yaml"))

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:1: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  """Entry point for launching an IPython kernel.

In [12]:
#data

In [13]:

# with open(r'SkyTeam-Exchange.yaml') as file:
#     # The FullLoader parameter handles the conversion from YAML
#     # scalar values to Python the dictionary format
#     data = yaml.load(file, Loader=yaml.FullLoader)

#     print(data)

In [5]:
#Выборка по программе лояльности
def get_fare_programm(flight_date_key,flight_number_key,ff_key):
    ff = data[flight_date_key][flight_number_key]['FF']
    
    ff_list = []
    ff_list.append(flight_date_key)
    ff_list.append(flight_number_key)
    ff_list.append(ff_key.split()[0])
    ff_list.append(ff_key.split()[1])
    ff_list.append(ff[ff_key]['CLASS'])
    ff_list.append(ff[ff_key]['FARE'])
    ff_list.append(data[flight_date_key][flight_number_key]['FROM'])
    ff_list.append(data[flight_date_key][flight_number_key]['TO'])
    return ff_list

fare_final_list = []
print("Сборка программы лояльности")
#Цикл сбора данных по программам лояльности
for k1 in data.keys():
    for k2 in data[k1].keys():
        for k3 in data[k1][k2]["FF"].keys():
            fare_final_list.append(get_fare_programm(k1,k2,k3))

print("Преобразование в строку")
#Преобразование в строку
def get_csv_line(final_list):
    csv_line=[]
    for flight in range(len(final_list)):
        line=''
        for element in final_list[flight]:
            line+=(element+';')
        line=line[:-1]
        csv_line.append(line)
    return csv_line

fare_csv_list = get_csv_line(fare_final_list)
print("Запись в csv")
#Запись в csv
def write_to_csv(csv_lines_list, file_name):
    with open(file_name + '.csv', 'a') as f:
        for line in csv_lines_list:
            f.write(line + '\n')
            
#Преобразование заголовков в строку
def headers_assemble(headers_list):
    line=""
    for element in headers_list:
        line += (element +';')    
    line = line[:-1]
    return line

write_to_csv([headers_assemble(['Date','Flight','Program','Number','Class','Fare','From','To'])]+fare_csv_list,'SkyTeam-Exchange')

print("Finished!!!!!!")

Сборка программы лояльности
Преобразование в строку
Запись в csv
Finished!!!!!!

In [7]:
data = pd.read_csv('SkyTeam-Exchange.csv', sep = ';')

In [8]:
data

               Date  Flight Program     Number Class    Fare From   To
0        2017-01-01  AF1145      FB  520518073     Y  YRSTFN  SVO  CDG
1        2017-01-01  AF1844      FB   18427809     Y  YGRPZR  SVO  CDG
2        2017-01-01  AF4855      KE  993927664     Y  YRSTJQ  SVO  CDG
3        2017-01-01  AF4901      SU  789402704     Y  YGRPAT  SVO  CDG
4        2017-01-01   AZ545      KE  352734424     Y  YFLXKO  SVO  FCO
...             ...     ...     ...        ...   ...     ...  ...  ...
1687048  2018-01-01  VN8067      DT  182808803     Y  YGRPMT  SGN  VCS
1687049  2018-01-01  VN8067      FB   88616357     Y  YFLXDJ  SGN  VCS
1687050  2018-01-01   VN813      DT  574004748     Y  YGRPAU  SGN  REP
1687051  2018-01-01  VN8204      KE  425304412     Y  YSTNDC  HAN  DIN
1687052  2018-01-01   VN920      KE  778810779     Y  YRSTGK  PNH  VTE

[1687053 rows x 8 columns]